.mainheader{
  background-color: white;
  height: 7%;
  text-align: center;
  margin: 40px;
}
.heading1{
  font-family: "Montserrat";
  font-size: 3rem;
  text-transform: uppercase;
}
.mainbody{
  min-height: 90%;
}

p{
  margin-right: 15%;
  margin-left: 15%;
  font-family: 'Montserrat';
  text-align: center;
}
.container{
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 20px;
}
