<div class="mainbody">
<div class="mainheader">

  <h2 class="heading1">
    About
  </h2>

</div>

  <hr class = "top-margin" style="width:60%">
<p>YOUR CRUISE/CRUISETOUR TICKET CONTRACT CONTAINS IMPORTANT LIMITATIONS ON
  THE RIGHTS OF PASSENGERS IT IS IMPORTANT THAT YOU CAREFULLY READ ALL TERMS
  OF THIS CONTRACT, PAYING PARTICULAR ATTENTION TO SECTION 3 AND SECTIONS 9
  THROUGH 11, WHICH LIMIT OUR LIABILITY AND YOUR RIGHT TO SUE, AND RETAIN IT
  FOR FUTURE REFERENCE.</p>
  <hr style="width:60%">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      BEST CRUISE LINE
      IN THE WORLD
    </div>
    <div class="col-sm">
      BEST TRAVEL AGENCY 2020
    </div>
    <div class="col-sm">
      FASTEST GROWING CRUISE SHIP AGENCY COMPANY 2020
    </div>
  </div>
</div>
