.startjourney{
  padding-top: 30px;
}
.mainbody{
  width: 100vw;
}
.mainheader{
  background-color: white;
  height: 7%;
  text-align: center;
  margin: 60px;
}
.mainheader .subHeading{
  font-size: 1.5rem;
}
.mainfooter{
  background-color: white;
}

.maincontent{
  background-color: white;
  height : 100vh;
  width: 100vw;
  overflow: visible;
  object-fit: cover;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  background-image: url("../../assets/homeBg.jpg");
}

.maintitle{
  color: white;
  padding-top: 12%;
  text-align: center;
  font-size: 100%;
  font-family: "Montserrat";
  padding-left: 2%;
}
.maintitle .heading1{
  font-size: 2rem;
}

.maincomponents{
  padding-left: 2%;
  color: white;
  text-align: center;
}

.heading1{
  font-family: "Montserrat";
  font-size: 3rem;
  text-transform: uppercase;
}
.maincontent .heading1{
  text-shadow: 0 0 3px #000;
}

.subHeading{
  font-family: "Montserrat";
  font-size: 1rem;
  letter-spacing: .125rem;
  text-transform: uppercase;
  text-shadow: 0 0 1px #000;
}

.maincontent .subHeading{
  text-shadow: 0 0 1px #000;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.pargraphcopy{
  font-family: "Montserrat";
  font-size: 1.125rem;
  line-height: 150%;
}




.form-elegant .font-small {
  font-size: 0.8rem; }

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
  border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
  color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
  font-weight: 400; }

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

.form-group {
  margin-top: 8%;
  overflow: hidden;
  margin-bottom: 8%; }
.dropdown-menu{

}

.custom-select{
  height: 55px;
}
.custom-select:required:invalid{
  color: gray;
}
.custom-select, option{
  color: black;
}





.form-input {
  width: 70%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222; }
.form-input::-webkit-input-placeholder {
  color: #999; }
.form-input::-moz-placeholder {
  color: #999; }
.form-input:-ms-input-placeholder {
  color: #999; }
.form-input:-moz-placeholder {
  color: #999; }
.form-input::-webkit-input-placeholder {
  font-weight: 500; }
.form-input::-moz-placeholder {
  font-weight: 500; }
.form-input:-ms-input-placeholder {
  font-weight: 500; }
.form-input:-moz-placeholder {
  font-weight: 500; }
.form-input:focus {
}
.form-input:focus::-webkit-input-placeholder {
  color: #222; }
.form-input:focus::-moz-placeholder {
  color: #222; }
.form-input:focus:-ms-input-placeholder {
  color: #222; }
.form-input:focus:-moz-placeholder {
  color: #222; }

.form-submit {
  width: 30%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-color: black }

.loggedInText{
  padding-top: 200px;

}
button{
  color: white;
  background-color: black;
}
