
<div class="mainheader">
  <div class="backbut">
    <a class="btn-floating btn-tw" routerLink="/admin" type="button" role="button"><i class="fa fa-angle-left fa-4x"
                                                                                      style="color:black"></i></a>
  </div>
  <h2 class="heading1">
    Admin Dashboard
  </h2>

</div>
<hr style="width:60%">

<div class="container">
  <div class="signup-content">

    <h2 class="form-title">Add Travel Plan</h2>


        <div class="form-group">
          <input type="text" class="form-input" [(ngModel)]="travelPlan.travelPlanRegion" placeholder="Region"/>
        </div>



    <div class="form-group">
      <input type="text" class="form-input" [(ngModel)]="travelPlan.travelPlanPrice" placeholder="Price"/>
    </div>
    <div class="form-group">
      <input
        type="file"
        [(ngModel)]="travelPlan.travelPlanPictureURL"
      >

    </div>
    <div class="form-group">
      <h3>Review</h3>
      <textarea class="form-control" [(ngModel)]="travelPlan.travelPlanDescription" aria-label="With textarea"></textarea>
    </div>





    <div class="form-group">
      <input type="submit" (click)="addTravelPlan()" class="form-submit" value="Add"/>
    </div>

  </div>
</div>
