<body>
<div class="backbut">
  <a class="btn-floating btn-tw" routerLink="/cruiseships" type="button" role="button"><i class="fa fa-angle-left fa-4x"
                                                                                          style="color:white"></i></a>
</div>
<div class="row" *ngIf="travelPlan">
  <div class="col-md-4 nopadding" [style.background-image]="'url(' + travelPlan.travelPlanPictureURL + ')'">


  </div>
  <div class="col-md-6 content">
    <div class="travelplan">
      <div class="travelplantitle">
        <h1>{{travelPlan.travelPlanRegion}}</h1>
      </div>
      <div class="travelplaninfo">
        <p>
          {{travelPlan.travelPlanDescription}}
        </p>
      </div>
      <div class="travelplanprice">
        <h2>Price: {{travelPlan.travelPlanPrice}}$</h2>
      </div>
      <div class="travelplanduration">
        <h2>Duration: {{travelPlanDuration}} days</h2>
      </div>
    </div>

    <div class="stops" *ngIf="stops">
      <div class="travelplantitle" style="margin-top: 50px">
        <h1>Cruise Stops</h1>
      </div>
      <div class="row">
        <div class="col" *ngFor="let stop of stops">
          <div class="card one">

            <div class="top "
                 [style.background]="'url('+stop.stopPictureURL+'.jpg'+') no-repeat center center '"
                 [style.background-size]="'cover'">
              <div class="wrapper">

                <h1 class="heading">{{stop.stopDestination}}</h1>
                <h2 class="heading duration" *ngIf="stop.stopDuration!=1">{{stop.stopDuration}} days</h2>
                <h2 class="heading duration" *ngIf="stop.stopDuration==1">{{stop.stopDuration}} day</h2>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="travelplanprice">
        <h2>Google Maps</h2>
      </div>
      <div class="googlemaps">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="2">
          <agm-polyline [strokeColor]="'red'" [visible]="true" [strokeWeight]="3" [pattern]="">
            <agm-polyline-point *ngFor="let stop of stops;let i = index"   [latitude]="googleCoordinatesLat[i]" [longitude]="googleCoordinatesLong[i]">
            </agm-polyline-point>

          </agm-polyline>
          <agm-marker *ngFor="let stop of stops;let i = index"  [latitude]="googleCoordinatesLat[i]" [longitude]="googleCoordinatesLong[i]">
            <agm-info-window>
              <strong>{{stop.stopRank}}</strong>
            </agm-info-window>
          </agm-marker>

        </agm-map>
      </div>
    </div>
    <button *ngIf="this.customerService.IS_LOGGED_IN"mat-raised-button data-toggle="modal" data-target="#elegantModalForm2">Rate</button>

  </div>
</div>
<app-rating></app-rating>


</body>
