

img{
  width: 30px;
  height: auto;
  display: block;
}

.navbar{
  margin-bottom: 0;
  padding-bottom: 0;
}
nav body{
  margin : 0;
}
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;margin-bottom:0;

}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  font-family: 'Montserrat';
}


.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-family: 'Montserrat';
}

.navbar-toggler {
  background: #fff;
  font-family: 'Montserrat';
}

.navbar-nav {
  margin-bottom: 0;
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #fff;

  font-family: 'Montserrat';
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  font-family: 'Montserrat';
}

.navbar-light .navbar-nav .nav-link.right:hover{
  color: #343a40;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Montserrat';
  float: right;
}

.navbar-light .navbar-nav .nav-link.left:hover{
  color: #6c757d;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Montserrat';
}

/* My additions */

.navbar-gradient {
  background-image: -moz-linear-gradient(to right, #343a40, #6c757d);
  background-image: -ms-linear-gradient(to right, #343a40, #6c757d);
  background-image: -o-linear-gradient(to right, #343a40, #6c757d);
  background-image: -webkit-linear-gradient(to right, #343a40, #6c757d);
  background-image: linear-gradient(to right, #343a40, #6c757d);
}

.line {
  border-right: 1px solid white;
  height: 30px;
  padding-right: 10px;
}




/* ignore the code below */


.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;
  padding:15px;
  border-radius:30px;
  background:tomato;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}
