<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-gradient">
    <a class="navbar-brand" routerLink="/"><img src="../../assets/JTCruises%20Logo.jpg" class="d-inline-block" style = "padding-right: 10px">JT Cruises</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ">
      <li>
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/cruiseships">Cruises</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>


    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="this.customerService.IS_LOGGED_IN">
      <ul class="navbar-nav ">
        <li>
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li>
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent2" *ngIf="!this.customerService.IS_LOGGED_IN">
      <ul class="navbar-nav ml-auto">
        <li>
          <a class="nav-link" routerLink="/register"> Register</a>
        </li>
        <li>
          <a class="nav-link" (click)="login()">Login</a>
        </li>
      </ul>
    </div>



</nav>




