<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-gradient">


    <a class="navbar-brand" routerLink="/"><img src="../../assets/JTCruises%20Logo.png" class="d-inline-block" style = "padding-right: 10px">ACG Cruises</a>

    <div class="navbar-nav" mr-auto>
        <a class="nav-link left" routerLink="/">Home</a>
        <a class="nav-link left" routerLink="/cruiseships">Cruises</a>
        <a class="nav-link left" routerLink="/about">About</a>
    </div>

    <div class="navbar-nav ml-auto" *ngIf="this.customerService.IS_LOGGED_IN">
          <a class="nav-link line">{{this.customerService.loggedInCustomer.customerFirstName}}</a>
          <a class="nav-link right" routerLink="/profile">Profile</a>
          <a class="nav-link right" (click)="logout()">Log Out</a>
    </div>

    <div class="navbar-nav right ml-auto " *ngIf="!this.customerService.IS_LOGGED_IN">
          <a class="nav-link right" routerLink="/register"> Register</a>
          <a class="nav-link right" data-toggle="modal" data-target="#elegantModalForm">Log In</a>
    </div>

</nav>
<app-login></app-login>
<app-rating></app-rating>





