img{
  width: 50px;
  height: 50px;
  display: block;
}


.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
  font-family: 'Montserrat';
}


.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-family: 'Montserrat';
}

.navbar-toggler {
  background: #fff;
  font-family: 'Montserrat';
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #fff;

  font-family: 'Montserrat';
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  font-family: 'Montserrat';
}

.navbar-light .navbar-nav .nav-link.right:hover{
  color: #343a40;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Montserrat';
}

.navbar-light .navbar-nav .nav-link.left:hover{
  color: #6c757d;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Montserrat';
}

/* My additions */

.navbar-gradient {
  background-image: -moz-linear-gradient(to right, #343a40, #6c757d);
  background-image: -ms-linear-gradient(to right, #343a40, #6c757d);
  background-image: -o-linear-gradient(to right, #343a40, #6c757d);
  background-image: -webkit-linear-gradient(to right, #343a40, #6c757d);
  background-image: linear-gradient(to right, #343a40, #6c757d);
}






/* ignore the code below */


.link-area
{
  position:fixed;
  bottom:20px;
  left:20px;
  padding:15px;
  border-radius:40px;
  background:tomato;
}
.link-area a
{
  text-decoration:none;
  color:#fff;
  font-size:25px;
}
