<button type="button" class="btn btn-primary" (click)="testregister()">Click to register</button>
<button type="button" class="btn btn-primary" (click)="login()">Click to login</button>
<button type="button" class="btn btn-primary" (click)="logout()">Click to logout</button>
<button type="button" class="btn btn-primary" (click)="amiloggedin()">Am i logged in ?</button>


<button type="button" class="btn btn-primary" (click)="testcruiseships()">Cruise Ships</button>
<button type="button" class="btn btn-primary" (click)="testcruiseship()">Specific cruiseship</button>
<button type="button" class="btn btn-primary" (click)="testcrewmembers()">CrewMembers</button>
<button type="button" class="btn btn-primary" (click)="testcruiseshipratings()">Ratings</button>
<button type="button" class="btn btn-primary" (click)="testcruiseshiptravelplans()">Travelplans</button>
