
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
*{ margin: 0; padding: 0; box-sizing: border-box; }

.top-bg{
  width: 100vw;
  text-align: center;
}
.topBG{
  width: 100%;
  clip-path: polygon(100% 0, 100% 90%, 69% 100%, 0 85%, 0 0);
}

.top-bg svg g#DECK_ELEMENTS rect[id^="R"].reserved{
  fill: #ff0000 !important;
}

h1{
  width: 100%;
  font-size: 9rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-shadow: 3px 3px #343a40;
}
h2{
  margin-top:10px;
  width: 100%;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-shadow: 3px 3px #343a40;
}
.main-title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-title{
  position: absolute;
  top: 40%;
  padding-top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row-md{
  padding: 20px;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: #112233;
}

.card {
  margin: 60px auto;
  width: 650px;
  background: #fff;
  box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.card .top:hover{
  cursor : pointer;

}
.card .top {
  position: relative;
  height: 470px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: center center;
}

.card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
}

.card .top .wrapper .ship-info {
  top: 0;
  display: inline-block;
  float: right;
}
.card .top .wrapper .heading {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.card .top .wrapper .location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}
.card .top .wrapper .temp {
  margin-top: 20px;
}
.card .top .wrapper .temp a {
  text-decoration: none;
  color: #fff;
}
.card .top .wrapper .temp a .temp-type {
  font-size: 85px;
}
.card .top .wrapper .temp .temp-value {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}
.card .top .wrapper .temp .deg {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  margin-top: 10px;
}
.card .top::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.card .top:hover::after{
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.card .bottom {
  padding: 0 30px;
  background: #fff;
}
.card .bottom .wrapper .forecast {
  overflow: hidden;
  margin: 0;
  font-size: 0;
  padding: 0;
  padding-top: 20px;
}
.card .bottom .wrapper .forecast a {
  text-decoration: none;
  color: #000;
}
.card .bottom .wrapper .forecast .go-up {
  text-align: center;
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
}
.card .bottom .wrapper .forecast li {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.25);
  line-height: 1em;
  margin-bottom: 30px;
}
.card .bottom .wrapper .forecast li.active {
  color: rgba(0, 0, 0, 0.8);
}
.card-img{
  height: 400px;
  width: auto;
}
.subtitle {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;


}
.accordion-container{
  margin-bottom: 30px;
  width: 100%; height: 300px;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-accordion{
  margin: 30px auto;
  width: 90%; height: 100%;
  display: flex;
}

.img{
  flex: 1;
  height: 100%;
  transform: skew(5deg);
  cursor: pointer;
  margin: 0 2px;
  transition: all 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border:1px solid #222;
  position: relative;
}
.img p{
  position: absolute;
  bottom: 0; left: 0;
  padding: 10px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  font-size: 12px;
}

.img p.price{
  visibility: hidden;
  transform: rotate(0deg);
  left: 0;
  transition: all 0.5s;
}

.img-accordion:hover .img{ transform: skew(0); }

.img:hover{ flex: 5; }

.img:hover p{
  background-color: rgba(255,255,255,0.9);
  border:2px solid #222;
  color:#222;
  font-size: 16px;
  transform: rotate(0deg);
}
.img:hover p.price{
  left:83%;
  visibility: visible;
}

