
<div class="demo-title">
  <h1 class="display-1">Cruise Ships</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="weather-card one">
        <div class="top " data-toggle="collapse" href="#accordion1" role="button" aria-expanded="false"
             aria-controls="accordion1" >
          <div class="wrapper">
            <h1 class="heading">The Pegasus</h1>
          </div>
        </div>
        <div class="bottom">
          <div class="wrapper">

            <div class="collapse" id="accordion1">
              <ul class="forecast">
                <li class="subtitle active">
                  Travel Plans
                </li>
              </ul>
              <div class="accordion-container">

                <div class="img-accordion">
                  <div class="img img1">
                    <p>Mediterranean</p>
                  </div>
                  <div class="img img2">
                    <p>Caribbean</p>
                  </div>
                  <div class="img img3">
                    <p>Europe</p>
                  </div>
                </div>

              </div>
              <ul class="forecast">
                <li class="subtitle active">Ship Brief</li>
                <li class="active" (load)="shipInfo1 = getShipInfo(1)">
                  {{shipInfo1}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="weather-card two">
        <div class="top " data-toggle="collapse" href="#accordion2" role="button" aria-expanded="false"
             aria-controls="accordion2">
          <div class="wrapper">
            <h1 class="heading">The Titanic</h1>
          </div>
        </div>
        <div class="bottom">
          <div class="wrapper">

            <div class="collapse" id="accordion2">
              <ul class="forecast">
                <li class="subtitle active">
                  Travel Plans
                </li>
              </ul>
              <div class="accordion-container">

                <div class="img-accordion">
                  <div class="img img1">
                    <p>Mediterranean</p>
                  </div>
                  <div class="img img2">
                    <p>Caribbean</p>
                  </div>
                  <div class="img img3">
                    <p>Europe</p>
                  </div>
                </div>

              </div>
              <ul class="forecast">
                <li class="subtitle active">Ship Brief</li>
                <li class="active">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="weather-card three">
        <div class="top " data-toggle="collapse" href="#accordion3" role="button" aria-expanded="false" aria-controls="accordion3">
          <div class="wrapper">
            <h1 class="heading">The Grand ACG</h1>
          </div>
        </div>
        <div class="bottom">
          <div class="wrapper">

            <div class="collapse" id="accordion3">
              <ul class="forecast">
                <li class="subtitle active">
                  Travel Plans
                </li>
              </ul>
              <div class="accordion-container">

                <div class="img-accordion">
                  <div class="img img1">
                    <p>Mediterranean</p>
                  </div>
                  <div class="img img2">
                    <p>Caribbean</p>
                  </div>
                  <div class="img img3">
                    <p>Europe</p>
                  </div>
                </div>

              </div>
              <ul class="forecast">
                <li class="subtitle active">Ship Brief</li>
                <li class="active">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





