<div class="demo-title">
  <h1 class="display-1">Cruise Ships</h1>
</div>

<div class="container-fluid" *ngIf="shipsPairs">

  <div class="row" *ngFor="let shipPair of shipsPairs; let i = index">
    <div class="col" *ngFor="let ship of shipPair; let j = index">
      <div class="weather-card one"
           style="background: url('../../assets/The Grand ACG.jpg') no-repeat;
           background-size: cover;
           background-position: center center;" (click)="showTravelPlans()">
        <div class="top " data-toggle="collapse" href="#accordion1" role="button" aria-expanded="false"
             aria-controls="accordion1">
          <div class="wrapper">
            <h1 class="heading">{{ship.shipName}}</h1>
          </div>
        </div>
        <div class="bottom">
          <div class="wrapper">

            <div class="collapse" id="accordion1">
              <ul class="forecast">
                <li class="subtitle active">
                  Travel Plans
                </li>
              </ul>
              <div class="accordion-container">

                <div class="img-accordion">
                  <div class="img" style="background-image: url('../../assets/thailand.jpg');" *ngFor="let travelPlan of shipTravelPlans[i*2+j]">
                    <p>{{travelPlan.travelPlanRegion}}</p>
                  </div>
                </div>

              </div>
              <ul class="forecast">
                <li class="subtitle active">Ship Brief</li>
                <li class="active">
                  {{ship.shipEntertainmentInfo}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





