<!-- Footer -->
<footer class="page-footer font-small blue bg-dark pt-4 footer-gradient">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">ACG Cruises - a signature of excellence</h5>
        <p>Designed and built by Abed, Charbel, and George- the ACG crew.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col">
        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/AcgCruises" class="fa fa-twitter"></a>
            <!-- Password: Daisycheng1 -->
          </li>
        </ul>
      </div>

      <div class="col">
        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/acg.cruises.5" class="fa fa-facebook"></a>
          </li>
        </ul>
      </div>

      <div class="col">
        <ul class="list-unstyled">
          <li>
            <a href="https://www.instagram.com/acgcruises/" class="fa fa-instagram"></a>
          </li>
        </ul>
      </div>

      <div class="col">
        <ul class="list-unstyled">
          <li>
            <a href="https://www.linkedin.com/in/acg-cruises-945203202/" class="fa fa-linkedin"></a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/Charbel199/CruiseShipTravelAgencyFrontend"> Team 2</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
