.page-footer{
  width: 100vw;
  z-index: 900;
}
p{
  color: white;

  font-style: italic;
}
h5{
  color:white;
  font-family: 'Montserrat';
}
a{
  color:white;
}
.footer-copyright{
  color: white;

}

.footer-gradient{
  background-image: -moz-linear-gradient(to bottom, #343a40, #6c757d);
  background-image: -ms-linear-gradient(to bottom, #343a40, #6c757d);
  background-image: -o-linear-gradient(to bottom, #343a40, #6c757d);
  background-image: -webkit-linear-gradient(to bottom, #343a40, #6c757d);
  background-image: linear-gradient(to bottom, #343a40, #6c757d);
}

