.top-bg svg g#DECK_ELEMENTS rect[id^="R"].reserved{
  fill: #ff0000 !important;
}
.top-bg{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  text-align: center;
}
.backbut{
  position: absolute;
  top:9px;
  left:9px;
  z-index: 1;
}
i{
  text-shadow: 0 0 3px #000;
}

body{
  height: 100%;
  margin: 0;
  position: relative;
}
